@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  @apply m-0 p-0;
}

body {
  font-family: "Poppins", sans-serif;
}

.navbar-menu header {
  max-width: 1366px !important;
}

html::view-transition-old(root) {
  animation: fade-out 1.5s ease-in-out 1 forwards;
}
html::view-transition-new(root) {
  animation: fade-in 1.5s ease-in-out 1 forwards;
}

.font-weight-inherit {
  font-weight: inherit;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fc .fc-button-primary {
  @apply bg-emerald-700 border-emerald-700;
  &:hover {
    @apply bg-emerald-900 border-emerald-900;
  }
}
.fc .fc-button {
  @apply text-sm;
}
.fc .fc-button-primary:not(:disabled).fc-button-active {
  @apply bg-emerald-900 border-emerald-900;
}

.fc-col-header-cell-cushion {
  @apply text-emerald-700;
}

.fc .fc-toolbar-title {
  @apply uppercase text-zinc-600 text-lg;
}

input,
select,
textarea,
[aria-haspopup="listbox"] span {
  @apply text-zinc-950;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  @apply bg-emerald-700 rounded-md;
}

.no-padding-top-child > div {
  @apply pt-0;
}

.fc-event-title.fc-sticky {
  @apply text-xs px-2;
}
